body{
    font-family: 'Montserrat', sans-serif;
}

#caixa{
    width: 100%;
    height: 100%;
    
}

.banner{
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
}

.cabecalho{
    margin: 0 auto;
    width: 100%;
    
}

.logo{
    position: absolute;
    top: 1px;
    width: 350px;
    filter: drop-shadow(1px 1px 1px #fffffffe);
    margin: 0 0 0 90px;
}

nav{
    position: absolute;
    top: calc(350px/2);
    right: 100px;

}

nav li{
    display: inline;
    margin: 0 0 0 80px;
}

nav a{
    text-decoration: none;
    filter: drop-shadow(5px 5px 1px #000000);
    color: #ffffff;
    font-size: 30px;
    font-weight: bold;
    transition: 1s;
    cursor: pointer;
}


.navbar a:hover{
    color: #888888;    
}

.titulo-principal{
    color: #FEFEFE;
    filter: drop-shadow(3px 3px 1px #000000);
    width: 45%;
    word-spacing: 15px;
    margin: 0 auto;
	text-align: center;
	font-size: 2em;
	clear: left;
}

.titulo-secundario{
    color: #000000;
    filter: drop-shadow(1px 2px 1px #888888);
    width: 45%;
    word-spacing: 15px;
    margin: 0 auto;
	text-align: center;
	font-size: 2em;
	clear: left;
}

.centro{
    filter: drop-shadow(3px 3px 1px #000000);
    color: #FFFFFF;
    width: 100%;
    position: absolute;
    top: 20.1em;
    text-align: center;
    margin: 0 auto;
    font-size: 22px;
}

.centro h1{
    font-weight: bold;
    width: 50%;
}



.centro h3{
    padding: 50px 0;
    word-spacing: 10px;
    margin: 0 auto;
	text-align: center;
	font-size: 1.2em;
	clear: left;
    width: 60%;
}

.mais{
    font-size: 15px;
    padding: 20px;
    width: 200px;
    background: transparent;
    border-color: #FFFFFF;
    color: #FFFFFF;
    cursor: pointer;
    transition: 1s;
}

.mais:hover{  
    color: #FFFFFF;
    box-shadow: 0 0 10px #ffffff;
    font-size: 16px;
}

.mais:active{
    background: #888888;
    transition: none;
}

.descricao{
    display: block;
    background: #000000;
    width: 100%;
    height: 500px;
}

div.imagem{
    box-shadow: inset 0 10px 20px #000000;
    background-attachment: fixed;
}

div#img1{
    
    width: 100%;
    height: 500px;
    background-image: url(imagens/estudiog.jpg);
    background-size: cover;
    opacity: 0.4;
}


.borda{
    pointer-events: none;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    opacity: 1;
    box-shadow: inset 10px 10px 100px -5px #000000;
    /*1- eixo x, 2- eixo y, 3-opacidade/borrado, 4-size */
}

.texto-principal{
    position: absolute;
    width: 50%;
    right: 90px;
    top: 63em;
}

.texto-principal h2{
    padding-top: 100px;
}

.texto-principal p{
    text-align: center;
    font-size: 25px;
    color: #FFFFFF;
    filter: drop-shadow(2px 2px 1px #000000);
    word-spacing: 5px;
    line-height: 30px;
    padding: 50px;
}

.local{
    margin: 30px auto;
    width: 100%;
}

.texto-local{
    text-align: center;
    color: #000000;
    
}

.local p{
    font-size: 25px;
    color: #000000;
    filter: drop-shadow(2px 2px 1px #888888);
    word-spacing: 5px;
    line-height: 30px;
    padding: 50px;
}

.mapa{
    text-align: center;

}

.icons-benef{
    width: 100%;
    margin: 0 auto;
}

.icons-benef h2{
    padding: 50px;
}

.icons-benef h2 strong{
    font-weight: bold;
}

.lista{
    width: 940px;
    margin: 0 auto;
}

.lista li{
    text-align: center;
    display: inline-block;
    width: 30%;
    vertical-align: top;
    padding: 30px 30px;
    margin: 0 1.5%;
    line-height: 50px;
    box-sizing: border-box;
    font-size: 15px;
    
}

.imgbenef{
   width: 90%;
}

.lista li:hover{
    font-size: 16px;transition: 1s;
}

footer{
    position: relative;
    background: linear-gradient(90deg, rgb(0, 0, 0), rgb(0, 0, 0));
 
}

div.img-bg:not(.rodape){
    background-attachment: fixed;
}

div#img2:not(.rodape){
    width: 50%;
    box-shadow: inset -30px 0px 100px 30px #000000;
    /*1- eixo x, 2- eixo y, 3-opacidade/borrado, 4-size */
    opacity: 0.4;
    width: 42%;
    height: 500px;
    background-image: url(imagens/bg-fundo.jpg);
}

.rodape{
    display: flex;
    position: absolute;
    right: 0;
    top: 10px;
    width: 50%;
    height: auto;
    color: #FFFFFF;
    clear: left;
}


.titulo-app{
    padding: 28px 0;
    font-size: 30px;
}

.app{
    vertical-align: top;
    width: 300px;
    height: 150px;
    display: inline-block;
    font-size: 20px;
    line-height: 30px;
    text-align: justify;
}

.app a{
    text-decoration: none;
    color: #888888;
    line-height: 50px;
}

.app li{
    text-align: start;
    justify-items: center;
}

.sobre{
    padding: 5px;
    width: 50%;
    height: 200px;
    line-height: 25px;
}

.sobre p{
    text-align: justify;
    color: #888888;
}

.copyright{
    position: relative;
    display: block;
    padding: 40px 50px;
    height: 20px;
    background: #171717fe;
    
}

.text-copyright{
    
    color: #FFFFFF;
    line-height: 30px;
}

.redes{
    position: absolute;
    right: 0;
    top: 40px;
    margin: 0 50px;
    float: inline-end;
    
    font-size: 20px;

}

.redes li{
    display: list-item;
	margin: 0 0 0 30px;
    float: right;
    
}

.redes a{
    color: #888888;
}

.redes ul{
    list-style: none outside;
}

@media screen and (max-width: 480px) {

    .banner{
        width: 375px;
    }

    .logo{
      margin: 0 130px;
      width: 30%; 
    }

    nav{
        top: 210px;
        right: 80px;
    }

    nav li{
        margin: 0 0 0 10px;
    }

    nav a{
        font-size: 15px;
        margin: 0 auto;
    }

    .descricao {
        display: block;
        background: #000000;
        width: 100%;
        height: 202px;
    }
    
    div#img1 {
        width: 100%;
        height: 202px;
        background-image: url(imagens/estudiog.jpg);
        background-size: 385px;
        opacity: 0.4;
    }

    .centro {
        filter: drop-shadow(3px 3px 1px #000000);
        color: #FFFFFF;
        width: 100%;
        position: absolute;
        top: 120px;
        text-align: center;
        margin: 0 auto;
        font-size: 10px;
    }

    .titulo-principal {
        color: #FEFEFE;
        filter: drop-shadow(3px 3px 1px #000000);
        width: 45%;
        word-spacing: 7px;
        margin: 0 auto;
        text-align: center;
        font-size: 1em;
        clear: left;
    }
    .centro h3 {
        padding: 10px 0;
        word-spacing: 3px;
        margin: 0 auto;
        text-align: center;
        font-size: 8px;
        clear: left;
        width: 70%;
    }
    .mais {
        font-size: 8px;
        padding: 7px;
        width: 81px;
        background: transparent;
        border-color: #FFFFFF;
        color: #FFFFFF;
        cursor: pointer;
        transition: 1s;
    }

    .texto-principal {
        position: absolute;
        width: 300px;
        top: 11em;
        right: 36px;
    }

    .texto-principal p {
        text-align: center;
        font-size: 11px;
        color: #FFFFFF;
        filter: drop-shadow(2px 2px 1px #000000);
        word-spacing: 5px;
        line-height: 13px;
        padding: 9px;
    }

    .local p {
        font-size: 15px;
        color: #000000;
        filter: drop-shadow(2px 2px 1px #888888);
        word-spacing: 5px;
        line-height: 13px;
        margin: -35px;
    }
    .titulo-secundario {
    color: #000000;
    filter: drop-shadow(1px 2px 1px #888888);
    width: 45%;
    /* word-spacing: 28px; */
    margin: 0 auto;
    text-align: center;
    font-size: 1em;
    clear: left;   
    }

    .icons-benef h2 {
        padding: 0;
    }

    .icons-benef {
        width: 50%;
        margin: 0 auto;
    }

    .lista {
        width: 596px;
        margin: 0 auto;
    }

    .lista li{
        display: block;
        line-height: 30px;
    }

    div#img2:not(.rodape) {

        /* box-shadow: inset -30px 0px 100px 30px #000000; */
        opacity: 0.4;
        width: 50%;
        height: 249px;
        background-image: url(imagens/bg-fundo.jpg);
        background-size: 320px;
    }
    .app {
        vertical-align: top;
        width: 168px;
        height: 150px;
        display: inline-block;
        font-size: 13px;
        line-height: 30px;
        text-align: justify;
    }

    .titulo-app {
        font-size: 14px;
    }

    .rodape {
        display: flex;
        position: absolute;
        right: 0;
        top: -9px;
        width: 60%;
        height: auto;
        color: #FFFFFF;
        clear: left;
    }

    .footer p{
        font-size: 13px;
    }

    .text-copyright {
        color: #FFFFFF;
        line-height: normal;
        text-align: center;
        font-size: 12px;
    }

    .redes {
        position: absolute;
        right: 100px;
        top: 8px;
        margin: 0 50px;
        float: inline-end;
        font-size: 20px;
    }
    .borda {
        pointer-events: none;
        position: fixed;
        width: 100vw;
        height: 370vh;
        top: 0;
        left: 0;
        opacity: 1;
        box-shadow: inset 10px 10px 100px -5px #000000;
    }
}